<!-- src/routes/$layout.svelte -->
<script context="module">
	export async function load({ fetch }) {
		const res = await fetch(`index.json`);
		const kqinit = await res.json()
		return {
			props: {
				kqinit:JSON.parse(kqinit.kqtt)
			}
		}
	}
</script>

<script>
	export let kqinit
	import { page} from '$app/stores';
	$: nav = $page.path.split('/')[1];
	import {kqtt} from '$lib/store'
	import {onMount} from 'svelte'
	kqtt.set(kqinit)
	onMount(()=>{
		let socket = new WebSocket('ws://127.0.0.1:8000')
		socket.onmessage = function (event) {
       		kqtt.set(JSON.parse(event.data))
			console.log(event.data)
    	}
	})
	

</script>

<div class="nav">
	<nav>
		<div>
			<a href='/' id="logo">LOGO</a>
		</div>
		<ul>
			<li><a sveltekit:prefetch class:active="{nav===""}" href="/">Trực tiếp</a></li>
			<li><a sveltekit:prefetch class:active="{nav==="xsmb"}" href="xsmb">xsmb</a></li>
			<li><a sveltekit:prefetch class:active="{nav==="xsmn"}" href="xsmn">xsmn</a></li>
			<li><a sveltekit:prefetch class:active="{nav==="xsmt"}" href="xsmt">xsmt</a></li>
			
		</ul>	
	</nav>
</div>
<slot></slot>

<style>
	.nav{
		z-index: 20;
		color:#fff;
		background-color: brown;
		position: sticky;
		top:0;
		left: 0;
	}
	nav{
		margin: 0 auto;
		width: 90%;
		height: 60px;
		max-width: 800px;
		display: flex;
		justify-content:space-around;
		align-items: center;
	}

	ul{
		width: 100%;
		display: flex;
		justify-content: flex-end;
	}
	li{
		padding: 0.5em;
	}
	a{	
		padding:0.2em;
		font-weight: 600;
		font-size: 1em;
		text-transform: uppercase;
		text-decoration: none;
		color: #ddd;;
		cursor: pointer;
	}
	
	.active, a:hover {
		color: #fff;
		border-bottom:2px solid #fff;
	}
	#logo{
		font-size: 2em;
		color: #fff;
	}
	#logo:hover{
		border: none;
	}
	@media screen and (max-width: 600px) {
		.nav {position: inherit;}
		nav{
			flex-direction: column;
			height: 120px;
		}
		ul{
			justify-content:space-around;
		}
	}
</style>