<script>
	import TT from '$lib/TT.svelte'
	import {kqtt} from '$lib/store'
</script>
<svelte:head>
	<title>Xổ số Mỹ Lan </title>
</svelte:head>
<main>
	
	<TT kq={$kqtt}/>
	<div style="margin-top:300px"></div>

	Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem explicabo iste dolore non voluptates deleniti maiores nam id facilis. Inventore animi autem temporibus fugit ex velit dolorem nam harum non.
</main>
<style>
	main {
		margin: 5em auto;
		max-width: 800px;
		flex-direction: column;
		display: flex;
		align-items: center;	
	}
</style>




