:root {
	font-family: "SF Pro Display","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
	--box1: 2px 2px 4px #bebebe,-2px -2px 4px #bebebe;
	--box2: 3px 3px 6px #bebebe,-3px -3px 6px #bebebe;
	--box3: 7px 7px 13px #bebebe,-7px -7px 13px #bebebe;
	-red:#ff3e00;
	--font: -apple-system, "Inter", sans-serif;

}

*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #eee;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
