<script>
    export let breadcrumb
</script>

<div>
    {#each breadcrumb.br as br}
        <li><span><a href={br.link}>{br.name}</a></span></li>
        <li><span> › </span></li>
    {/each}
    <li><span>{breadcrumb.name}</span></li>
</div>

<style>
    div{
        width: 96%;
        box-shadow: var(--box2);
        display: flex;
        flex-direction: row;
        margin: 1em 0;
    }
    li{
        line-height: 2em;
        list-style-type: none;
        margin: 0 0.2em;
    }
    a, span{
        letter-spacing: -0.5px;
        color: #565959;
        text-decoration: none;
    }
    a:hover{
        border-bottom: 1px solid #565959;
    }
</style>