<script>
    import {getThu, getTenTinh, grid, raw} from '$lib/fn'
    export let kq
    $: [mien, tinhs]=getTenTinh(kq.code)
    $: keys=kq>40?Object.keys(kq.kq):Object.keys(kq.kq).reverse()
</script>

<article>
    <header>
        <h1>{mien}</h1>
        <h2>{`${getThu(kq.day)}, ${kq.date}`}</h2>
    </header>
    
    <table>
        <tbody>
            <tr>
                <th>Giải</th>
                <th>
                    <div style="display: grid;grid-template-columns:repeat({grid(kq.code, 1)}, 1fr)">
                        {#each tinhs as tinh (tinh)}
                        <span>{tinh}</span>
                        {/each}
                    </div>
                </th>
            </tr>
            {#each keys as key (key)}
            <tr>
                <td>{key}</td>
                <td>
                    <div style="display: grid;grid-template-columns:repeat({grid(kq.code, kq.kq[key].length)}, 1fr)">
                    {#each kq.kq[key] as cell}
                        <span>{cell}</span>
                    {/each}
                    </div>
                </td>
            </tr>   
            {/each}
        </tbody>
      </table> 
</article>
<style>

    
</style>