<script>
  import {raw, getThu, getTenTinh} from '$lib/fn'
  import Mini from '$lib/Mini.svelte'
  import { opt } from '$lib/store'
  export let kq
  let mini =raw(kq)
  let tenTinhs=kq.map(v=>getTenTinh(v.matinh))
  $: kk=kq
  $:switch($opt.num){
    case 0: kk=kq;break;
    case 2: kk=kk=raw(kq).s2;break;
    case 3: kk=raw(kq).s3;break;
  }
</script>
<article>
<header>
    <h1>Xổ số miền Bắc</h1>
    <h2>{`${getThu(kq[0].thu)}, ${kq[0].ngay}`}</h2>
</header>

  <table>
    <tbody>
      <tr>
        <th>Giải</th>
        <th>{getTenTinh(kk[0].matinh)}</th>
      </tr>
      <tr>
        <td>ĐB</td>
        <td class="g8">{kk[0].g0}</td>
      </tr>
      <tr>
        <td>G1</td>
        <td>{kk[0].g1}</td>
      </tr>
      <tr>
        <td>G2</td>
        <td>
            <div>
                <span>{kk[0].g2[0]}</span>
                <span>{kk[0].g2[1]}</span>
            </div>
        </td>
      </tr>
      <tr>
        <td>G3</td>
        <td>
            <div>
                <span>{kk[0].g3[0]}</span>
                <span>{kk[0].g3[1]}</span>
                <span>{kk[0].g3[2]}</span>
            </div>
            <div>
                <span>{kk[0].g3[3]}</span>
                <span>{kk[0].g3[4]}</span>
                <span>{kk[0].g3[5]}</span>
            </div>
        </td>
      </tr>
      <tr>
        <td>G4</td>
        <td>
            <div>
                <span>{kk[0].g4[0]}</span>
                <span>{kk[0].g4[1]}</span>
                <span>{kk[0].g4[2]}</span>
                <span>{kk[0].g4[3]}</span>
            </div>
        </td>
      </tr>
      <tr>
        <td>G5</td>
        <td>
            <div>
                <span>{kk[0].g5[0]}</span>
                <span>{kk[0].g5[1]}</span>
                <span>{kk[0].g5[2]}</span>
            </div>
            <div>
                <span>{kk[0].g5[3]}</span>
                <span>{kk[0].g5[4]}</span>
                <span>{kk[0].g5[5]}</span>
            </div>
        </td>
      </tr>
      <tr>
        <td>G6</td>
        <td>
            <div>
                <span>{kk[0].g6[0]}</span>
                <span>{kk[0].g6[1]}</span>
                <span>{kk[0].g6[2]}</span>
            </div>
        </td>
      </tr>
      <tr>
        <td>G7</td>
        <td class="g8">
            <div>
                <span>{kk[0].g7[0]}</span>
                <span>{kk[0].g7[1]}</span>
                <span>{kk[0].g7[2]}</span>
                <span>{kk[0].g7[3]}</span>
            </div>
        </td>
      </tr>
    </tbody>
  </table>

  <Mini tenTinhs={tenTinhs} mini={mini.mini}/>
</article>

<style>
  td,th{
      line-height: 2em;
      text-align: center;
    }
  td div{
    display: flex;
    justify-content: space-around;
  }
</style>