<script>
  import { fly } from 'svelte/transition';
  export let tinhs
  export let mini
  import { opt } from '$lib/store'
</script>
<div class='option'>
  <div class='button-group'>
    <button
      class:active="{$opt.num === 0}"
      on:click="{() => opt.set0()}"
    >Tất cả</button>
    <button
      class:active="{$opt.num === 3}"
      on:click="{() => opt.set3()}"
    >3 số</button>
    <button
      class:active="{$opt.num === 2}"
      on:click="{() => opt.set2()}"
    >2 số</button>
  </div>
  <div class='button-group'>
    <button
      class:active="{$opt.loto === true}"
      on:click="{() => opt.setLoto()}"
  >Bảng Loto</button>
  </div>
</div>
{#if $opt.loto==true}
<div in:fly="{{ y: -20, duration: 300 }}" out:fly="{{ y: -20, duration: 100 }}">
    <table>
        <tbody>
            <tr>
                <th>Đầu</th>
                <th>
                  <div style="display: grid;grid-template-columns:repeat({tinhs.length}, 1fr)">
                    {#each tinhs as tinh (tinh)}
                    <span>{tinh}</span>
                    {/each}
                </div>
                </th>
            </tr>
            {#each mini.dau as dau, index (index)} 
            <tr>
              <td>{index}</td>
              <td>
                <div style="display: grid;grid-template-columns:repeat({tinhs.length}, 1fr)">
                {#each dau as row, i (i)}
                    <span>{row.join(', ')}</span>
                {/each}
                </div>
            </td>
              
  
            </tr>
            {/each}
        </tbody>
    </table>
</div>
{/if}
<style>
  .option{
    display: flex;
    justify-content: space-between;
  }
  
  .button-group{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #ddd;
    font-family: -apple-system, "Inter", sans-serif;
    overflow: hidden;
  }

  button{
    font-weight: bold;
    background-color: #fff;
    color: #000;
    padding: 10px;
    text-align: center;
    transition: 0.3s color, 0.3s background, 0.3s border-color;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
  }
  button.active{
    background-color: #ddd;
  }
  button:not(:first-child){
    border-left:1px solid #ddd;
  }


td, th{
  font-weight: 500;
  border-left: 1px solid #ddd;
  text-align: left;
  padding-left: 0.3em;
  
}

td:first-child, th:first-child{
  border:none;
  font-size: 1.2em;
  font-weight: bold;
  color:#636366;
  text-align: center;
}
</style>