<script>
  import {raw, getThu, getTenTinh} from '$lib/fn'
  import Mini from '$lib/Mini.svelte'
  import { opt } from '$lib/store'
  export let kq
  let mini =raw(kq)
  let tenTinhs=kq.map(v=>getTenTinh(v.matinh))
  $: kk=kq
  $:switch($opt.num){
    case 0: kk=kq;break;
    case 2: kk=kk=raw(kq).s2;break;
    case 3: kk=raw(kq).s3;break;
  }
  
  
</script>

<article>
<header>
    <h1>{`Xổ số miền ${kq[0].matinh<25?'Nam':'Trung'}`} </h1>
    <h2>{`${getThu(kq[0].thu)}, ${kq[0].ngay}`}</h2>
</header>

  <table>
    <tbody>
      <tr>
        <th>Giải</th>
      {#each kk as k (k.matinh)}
        <th><h3>{getTenTinh(k.matinh)}</h3></th>
      {/each}
      </tr>
      <tr>
        <td>G8</td>
        {#each kk as k (k.matinh)}
        <td class="g8">{k.g8}</td>
        {/each}
      </tr>
      <tr>
        <td>G7</td>
        {#each kk as k (k.matinh)}
        <td>{k.g7[0]}</td>
        {/each}
      </tr>
      <tr>
        <td>G6</td>
        {#each kk as k (k.matinh)}
        <td><div>{k.g6[0]}</div>
          <div>{k.g6[1]}</div>
          <div>{k.g6[2]}</div></td>
        {/each}
      </tr>
      <tr>
        <td>G5</td>
        {#each kk as k (k.matinh)}
        <td>{k.g5[0]}</td>
        {/each}
      </tr>
      <tr>
        <td>G4</td>
        {#each kk as k (k.matinh)}
        <td><div>{k.g4[0]}</div>
          <div>{k.g4[1]}</div>
          <div>{k.g4[2]}</div>
          <div>{k.g4[3]}</div>
          <div>{k.g4[4]}</div>
          <div>{k.g4[5]}</div>
          <div>{k.g4[6]}</div>
        </td>
        {/each}
      </tr>
      <tr>
        <td>G3</td>
        {#each kk as k (k.matinh)}
        <td><div>{k.g3[0]}</div>
          <div>{k.g3[1]}</div></td>
        {/each}
      </tr>
      <tr>
        <td>G2</td>
        {#each kk as k (k.matinh)}
        <td>{k.g2}</td>
        {/each}
      </tr>
      <tr>
        <td>G1</td>
        {#each kk as k (k.matinh)}
        <td>{k.g1}</td>
        {/each}
      </tr>
      <tr>
        <td>ĐB</td>
        {#each kk as k (k.matinh)}
        <td class="db">{k.g0}</td>
        {/each}
      </tr>
    </tbody>
  </table>   
  

  
</article>
<style>

  
  
</style>