<script>
    import {raw, getThu, getTenTinh} from '$lib/fn'
    import Mini from '$lib/Mini.svelte'
    import { opt } from '$lib/store'
  export let kq
  let mini =raw(kq)
  let tenTinhs=kq.map(v=>getTenTinh(v.matinh))
  $: kk=kq
  $:switch($opt.num){
    case 0: kk=kq;break;
    case 2: kk=kk=raw(kq).s2;break;
    case 3: kk=raw(kq).s3;break;
  }
</script>

    
<header>
  <h1>{`Xổ số miền ${kq[0].matinh<25?'Nam':'Trung'}`} </h1>
  <h2>{`${getThu(kq[0].thu)}, ${kq[0].ngay}`}</h2>
</header>
<article>
  <table>
    <tbody>
      <tr>
        <th>Giải</th>
        <th>{getTenTinh(kk[0].matinh)}</th>
      </tr>
      <tr>
        <td>G8</td>
        <td class="g8">{kk[0].g8}</td>
      </tr>
      <tr>
        <td>G7</td>
        <td>{kq[0].g7[0]}</td>
      </tr>
      <tr>
        <td>G6</td>
        <td>
            <div>
                <span>{kk[0].g6[0]}</span>
                <span>{kk[0].g6[1]}</span>
                <span>{kk[0].g6[2]}</span>
            </div>
            
        </td>
      </tr>
      <tr>
        <td>G5</td>
        <td>{kk[0].g5[0]}</td>
      </tr>
      <tr>
        <td>G4</td>
        <td>
            <div>
                <span>{kk[0].g4[0]}</span>
                <span>{kk[0].g4[1]}</span>
                <span>{kk[0].g4[2]}</span>
            </div>
            <div>
                <span>{kk[0].g4[3]}</span>
                <span>{kk[0].g4[4]}</span>
                <span>{kk[0].g4[5]}</span>
                <span>{kk[0].g4[6]}</span>
            </div>
        </td>
      </tr>
      <tr>
        <td>G3</td>
        <td>
            <div>
                <span>{kk[0].g3[0]}</span>
                <span>{kk[0].g3[1]}</span>
            </div>
        </td>
      </tr>
      <tr>
        <td>G2</td>
        <td>{kk[0].g2[0]}</td>
      </tr>
      <tr>
        <td>G1</td>
        <td>{kk[0].g1}</td>
      </tr>
      <tr>
        <td>ĐB</td>
        <td class="db">{kk[0].g0}</td>
      </tr>
    </tbody>
  </table>

  <Mini tenTinhs={tenTinhs} mini={mini.mini}/>
</article>

<style>
article{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    box-shadow: var(--box1);
    background-color: #fff;
    border-radius: 6px;
}

header{
    letter-spacing: -0.2px;
    padding:1.5em;
    text-align: left;
}
h1{
    color:#1d1d1f;
    font-size: 1.6em;
    line-height: 1.5em;
    font-weight: 600;
}
header h2{
    color: #636366;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1em;
}

table{
    min-width: 300px;
    max-width: 450px;
    width: 100%;
    border: 1px solid #fff;
}
td, th{
    line-height: 1.6em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    letter-spacing:-0.3px;
    color: #1d1d1f;
    vertical-align: middle;
}
th{
    color: #0070c9;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 1em;
    line-height: 2.5em;
} 

td:first-child, th:first-child{
    border-right: 1px solid #ddd;
    font-size: 1em;
    font-weight: 500;
    color:#636366;
}


tr:nth-child(odd){
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
.g8, .db{
    color: #ff3e00;
}
.g8{
    font-size: 1.9em;
}



  td,th{
      line-height: 2em;
      text-align: center;
    }
  td div{
    display: flex;
    justify-content: space-around;
  }


  
</style>