<script>
    import {getThu, getTenTinh, grid, raw} from '$lib/fn'
    import Mini from '$lib/Mini.svelte'
    import { opt } from '$lib/store'
    export let kq
    $: [mien, tinhs]=getTenTinh(kq.code)
    $: keys=kq>40?Object.keys(kq.kq):Object.keys(kq.kq).reverse()

    let mini =raw(kq)
    $: kk=kq
    $:switch($opt.num){
        case 0: kk=kq;break;
        case 2: kk=kk=raw(kq).s2;break;
        case 3: kk=raw(kq).s3;break;
    }
</script>

<article>
    <header>
        <h1>{mien}</h1>
        <h2>{`${getThu(kq.day)}, ${kq.date}`}</h2>
    </header>
    
    <table>
        <tbody>
            <tr>
                <th>Giải</th>
                <th>
                    <div style="display: grid;grid-template-columns:repeat({grid(kq.code, 1)}, 1fr)">
                        {#each tinhs as tinh (tinh)}
                        <span>{tinh}</span>
                        {/each}
                    </div>
                </th>
            </tr>
            {#each keys as key (key)}
            <tr>
                <td>{key}</td>
                <td>
                    <div style="display: grid;grid-template-columns:repeat({grid(kq.code, kq.kq[key].length)}, 1fr)">
                    {#each kk.kq[key] as cell}
                        <span>{cell}</span>
                    {/each}
                    </div>
                </td>
            </tr>   
            {/each}
        </tbody>
      </table> 
    <Mini tinhs={tinhs} mini={mini.mini}/>
</article>

<style>
article{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    box-shadow: var(--box2);
    border-radius: 6px;
    background-color: #fff;
}

header{
    
    padding:1em;
    text-align: left;
}
h1{
    color:#1d1d1f;
    letter-spacing: -1px;
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 0.5em;
    vertical-align:top;
    text-align: center;
}
header h2{
    color: #636366;
    font-weight: 600;
    font-size: 1.3em;
    text-align: right;
}

table{
    min-width: 300px;
    max-width: 450px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
td, th{
    line-height: 1.2em;
    font-size: 1.4em;
    font-weight: 800;
    text-align: center;
    letter-spacing:-0.3px;
    color: #1d1d1f;
    vertical-align: middle;
}
th{
    color: #0070c9;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 1.2em;
    line-height: 1.6em;
} 

td:first-child, th:first-child{
    border-right: 1px solid #ddd;
    font-size: 1em;
    font-weight: 500;
    color:#636366;
}


tr:nth-child(odd){
    background-color: #f9f9f9;
    border-bottom: 0.5px solid #ddd;
    border-top: 0.5px solid #ddd;
    
}
tr:nth-child(2) td:not(:first-child) {
    color:#ff3e00;
    font-size: 1.8em;
}
tr:last-child td:not(:first-child) {
    color:#ff3e00;
    font-size: 1.5em;
}

    
</style>