<script>
import { onDestroy } from "svelte";


    let a=Math.floor((Math.random()*10))
    let b=setInterval(()=>{
    for (i = 0; i < 24; i++) {
        a=Math.floor((Math.random()*10))
    }
    },100)
    onDestroy(()=>clearInterval(b))
    
</script>
<h2>{a}</h2>
