.App {
  max-width: 900px;
  padding: 0.5em;
  margin:0 auto;
}

//animation: App-logo-spin infinite 20s linear;

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 3em;
  margin-bottom: 3em;
  .logo a{
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    color:black;
  }
   
  nav{
    margin-left: auto;
    padding: 0.5em;
    
    a{
      text-transform: uppercase;
      color: rgba(0,0,0,0.7);
      opacity: 0.8;
      font-size: 0.7em;
      font-weight: 600;
      text-decoration: none;
      margin: 0.3em;
      padding: 0.5em;
      &.active{border-bottom: 1px solid rgba(0,0,0,0.7);}
    }
  }
  @media screen and (max-width: 600px){
    justify-content: center;
    min-height: 3em;
    nav{
      background-color: #ececec;
      position: fixed;
      bottom: 0;
      width: 100%;
      display: flex;
      justify-content: space-around;
      box-shadow: 3px 3px 6px #bec8e4,-3px -3px 6px #fff;
    }
  }
}

article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 10em;
}