
h3{
    padding: 10px;
    color: #fff;
    opacity: 0.7;
    font-weight: 600;
    font-size: 0.8em;
}

h1 {
    font-size: 1.3em;
    color: #fdfdfd;
    font-weight: 600;
}

table{
    padding: -5px;
    width: 100%;
    margin:0 auto;
    tr{ 
        line-height: 1.4em;
        th{
            font-weight: 300;
            color: #535353;
            font-size: 0.8em;
        }
        th:first-child{
            margin: auto 0;
            border-right:2px solid #ffffff;
        }
        td{
            font-weight: 500;
           span{
               padding: 1em;
               margin: auto;
           } 
        }
    }
    tr:nth-child(odd) {
        background-color: #ececec
    }
}
.tinh{
    color: #0029ad;
    font-weight: 500;
    line-height: 1.5em;
}
.giaitam{
    font-size: 1.3em;
    line-height: 1.4em;
    color: brown;
    font-weight: 500;
    
}
.giaidb{
    color: brown;
    font-weight: 600;
}

.trang{
    margin: auto;
    width: 100%;
    justify-self: center;
    border-radius: 0.3em;
    max-width: 500px;
    background: #e0e0e0;
    box-shadow:  7px 7px 13px #bebebe,
             -7px -7px 13px #ffffff;
    .tit{
        border-radius: 0.3em;
        padding: 1em 0;
        background-color: brown;
    }
    .tool{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        box-shadow:inset  3px 3px 6px #bebebe,
            inset -3px -3px 6px #ffffff;
        button{
            
            background: #e0e0e0;
            box-shadow:  2px 2px 4px #bebebe,
                     -2px -2px 4px #ffffff;
            letter-spacing: 0.1em;
            font-weight: bold;    
            padding:0.3em;
            margin: 0.5em;
            border: none;
            cursor: pointer;
            &:focus {outline:0}
            &:active{
                box-shadow:none
            }
        }
    }
   
}